 .a1{
            font-size: 45px;
            text-align: center;
        }

 .ac{
    font-size: larger
    list-style-type:none;
    padding:0;
    margin:0px;        
}
li:nth-child(1){
background-color: darkgray;
color: red;
}
li:nth-child(3){
background-color: darkgray;
color:aqua
}
li:nth-child(5){
background-color: darkgray;}
li:nth-child(7){
background-color: darkgrey;}
li:nth-child(9){
background-color: darkgrey;}
li:nth-child(1):hover{
    background: orange;
}
li:nth-child(3):hover{
    background: orange;
}
li:nth-child(5):hover{
    background: orange;
}
li:nth-child(7):hover{
    background: orange;
}
li:nth-child(9):hover{
    background: orange;
}
.ac li::before{
  content: "+ ";
  color: white; 
  font-size: 1.5em;
  margin-left:15px;
  margin-right: 15px;
}
.ac li::after{
  content: "-";
  color: white; 
  font-size: 1em;
  margin-left:15px;
  margin-right: 15px;
}